body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

iframe {
    width: 100%;
    height: 98%;
    border: 0;
}

h1 {
    font-size: 16px;
    line-height: 100%;
    margin: 10px 0;
}

nav .brand-logo {
    font-size: 1.8rem;
    line-height: 56px;
}

.nav-wrapper-container {
    height: 50px;
}

.tabs .tab a {
    color: rgb(183, 178, 16) !important;
}

.tabs .indicator {
    background-color: rgb(202, 195, 33);
}

[type="checkbox"]:checked+label:before {
    border-right: 2px solid rgb(183, 178, 16);
    border-bottom: 2px solid rgb(183, 178, 16);
}

[type="radio"]:checked + label:after {
    border: 2px solid rgb(183, 178, 16);
    background-color: rgb(183, 178, 16);
}

.build-type-form {
    margin: 10px 0 20px 0;
}

footer.page-footer {
    margin-top: 0px;
    padding-top: 0px;
}

#spinner-view {
    display: none;
}

#results-view {
    display: none;
}

#builder {
    height: 100%;
}

#results-table img {
    width: 64px;
}

#results-back {
    margin-top: 20px;
}

.custom-card {
    padding: 20px;
}

.card-title-custom {
    font-size: 24px;
    padding-bottom: 5px;
}

.shadow {
    text-shadow: #333 2px 2px 8px;
}

#builder-app .col {
    text-align: center
}

#toolbar {
    height: 48px;
    position: relative;
}

#menu-buttons-left {
    position: absolute;
    left: 12px;
    top: 5px;
}

#menu-buttons-left a {
    float: left;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

#menu-buttons-right {
    position: absolute;
    right: 12px;
    top: 5px;
}

#menu-buttons-right a {
    float: right;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.spinner-white,
.spinner-white-only {
    border-color: #DDDDDD;
}

.active .spinner-layer.spinner-white-only {
    opacity: 1;
    -webkit-animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
}

.summary-box {
    height: 98%;
}

.summary-progress {
    margin: 0 auto;
    width: 64px;
    padding-top: 100px
}

.summary-content {
    display: none;
}

.summary-title-container {
    padding: 15px;
    font-size: 20px;
    border-radius: 3px;
}

.summary-efficiency, .summary-tags {
    margin: 10px 0;
    padding: 20px 0;
    font-size: 20px;
    border-radius: 3px;
}

.summary-efficiency .s8 {
    text-align: center;
    padding: 10px;
    height: 128px;
    border-radius: 3px;
}

.summary-efficiency .s8 div {
    margin: 10px 0;
}

#item-selection {
    height: 70vh;
}

#item-builder {
    height: 70vh;
    overflow-y: scroll;
}

.no-padding {
    padding: 0;
}

#all-items, #set-info, #preset-builds {
    overflow-y: scroll;
}

#all-items-container, #set-info, #preset-builds {
    height: 63vh;
}

#all-items {
    height: 55vh;
}

#all-items img {
    float: left;
    padding: 10px;
    border-radius: 25px;
}

stats, grouplimit {
    color: rgb(182, 234, 187);
}

unique, active, aura, passive {
    color: rgb(200, 200, 0);
}

consumable {
    color: rgb(224, 145, 58);
}

.set-info-form-label-container {
    height: 50px;
}

.set-info-form-label {
    margin-left: auto;
    font-size: 16px;
    text-align: left;
    width: 100%;
}

.code {
    background-color: black;
    padding: 10px;
    margin: 10px;
    color: white;
}

#file-upload-text {
    height: 30vh;
    overflow-y: scroll;
}

.item-slot img {
    border-radius: 10px;
}

.item-slot {
    position: relative;
    float: left;
    margin: 9px;
    width: 64px;
    height: 64px;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 1px 1px 5px;
}

.item-count {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 18px;
    width: 18px;
    background-color: rgba(50, 50, 50, 0.8);
    color: white;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 12px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.item:hover {
    cursor: move;
}

#item-set-blocks {
    border: 0;
}

#item-set-blocks li {
    margin-bottom: 20px;
}

.collapsible-header {
    pointer-events: none;
}

#item-set-blocks li {
    position: relative;
}

.item-block-buttons {
    position: absolute;
    left: 10px;
    top: 10px;
}

.item-block-buttons i {
    margin-right: 15px;
    color: #5f5f5f;
}

.item-block-close-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

.item-block-close-button i {
    margin-left: 15px;
    color: #5f5f5f;
}


.toggle-item-block-button:hover, .edit-item-block-button:hover, .close-item-block-button:hover {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#all-items-container {
    position: relative;
}

.filter-items-button {
    float: left;
    padding: 13px 13px 13px 3px;
    -webkit-transition: all 0.5s ease;
}

.filter-items-button:hover {
    -webkit-filter: contrast(20%);
    -webkit-transition: all 0.5s ease;
    cursor: pointer;
}

.filter-menu {
    display: none;
    position: absolute;
    width: 250px;
    left: -280;
    height: 57vh;
    z-index: 1000;
}

.filter-form p {
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.filter-form label {
    color: #444444 !important;
}

.filter-form-title {
    font-size: 14px;
    padding: 8px 0;
}

.filter-form-title:hover {
    cursor: move;
}

.filter-indent {
    margin-left: 25px;
}

.form-body {
    overflow-y: scroll;
    height: 53vh;
}

.map-container, .champ-container {
    margin: 5px !important;
    padding: 5px;
}

.champ-container {
    line-height: 0.8;
}

.map-select, .champ-select {
    width: 95%;

    -webkit-filter: contrast(50%);
    -moz-filter: contrast(50%);
    -ms-filter: contrast(50%);
    -o-filter: contrast(50%);
    filter: contrast(50%);

    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

.map-select:hover, .champ-select:hover {
    -webkit-filter: contrast(100%);
    -moz-filter: contrast(100%);
    -ms-filter: contrast(100%);
    -o-filter: contrast(100%);
    filter: contrast(100%);

    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;

    cursor: pointer;
}

.map-selected, .champ-selected {
    outline: 1px solid white;

    -webkit-filter: contrast(100%);
    -moz-filter: contrast(100%);
    -ms-filter: contrast(100%);
    -o-filter: contrast(100%);
    filter: contrast(100%);

    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
    -moz-transition: all 0.5s ease; /* Firefox */
    -ms-transition: all 0.5s ease; /* IE 9 */
    -o-transition: all 0.5s ease; /* Opera */
    transition: all 0.5s ease;
}

.help-tooltip {
    cursor: pointer;
}

code {
    padding: 10px;
    margin: 5px;
    border: 2px grey solid;
}

.item-efficiency-negative {
    color: red;
}

.item-efficiency-neutral {
    color: white;
}

.item-efficiency-positive {
    color: #00D800;
}
